@import "../../../scss/mixin";
@import "../../../scss/var";

.menuSortBlock{
  width: 22%;
@include flex(row,center, space-around);
  position: relative;
  cursor: pointer;

  .selectedSorting{
    color: darkorange;
    border-bottom: 1px dashed darkorange;
  }


}