@import "../../scss/mixin";

.pizzaBlock {
  margin:50px 0;
  @include widthHeight(100%, 100%);

  .pizzaCardCont {
    @include widthHeight(100%, 100%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}