@import "../../../scss/var";
@import "../../../scss/mixin";

.pizzaCard{
  width: 260px;
  height: 400px;
  @include flex(column, center, space-evenly);

  .pizzaImg{
    width: 200px;
    height: 200px;
    & img{
      width: 100%;
      height: 100%;
    }
  }

  .title{
    font-size: 18px;
    font-weight: bold;
  }

  .coastButtonBlock{
    width: 100%;
    @include flex(row, center, space-evenly);

  .coast{
    font-weight: bold;
  }
  }
}
