@import "../../../../scss/mixin";

.button{
  width: 140px;
  height: 35px;
  @include flex(row, center, space-evenly);
  border: 1px solid darkorange;
  border-radius: 20px;
  background-color: white;
  color: darkorange;
  cursor: pointer;

  .numButton{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    color: white;
    background-color: darkorange;


  }

   &:hover{
    background-color: darkorange;
    color: white;

     .numButton{
       color: darkorange;
       background-color: white;
     }
  }
}