@import '../scss/mixin';

.App {
  width: 1260px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  transform: translateY(50px);

  .innerWrapper {
    transform: translateY(20px);
    width: 1170px;
    height: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    @include flex(column, flex-start, space-evenly)
  }
}