@import "../scss/mixin";

.App {
	width: calc(100vw - 100px);
	height: 100%;
	display: flex;
	justify-content: center;
	background-color: white;
	border-radius: 15px;
	transform: translateY(50px);

	.innerWrapper {
		transform: translateY(20px);
		width: calc(100vw - 150px);
		height: 100%;
		box-sizing: border-box;
		@include flex(column, flex-start, flex-start);

		@media (min-width: 768px) {
			width: calc(100vw - 168px); //220px
		}
	}
}
