@import "../../../scss/mixin";
@import "../../../scss/var";

.shoppingCartBlock{
  width: 150px;
  height: 50px;
  background-color: darkorange;
  border-radius: 27px;
  color: #fff;
  @include flex(row, center, space-evenly);
  box-shadow: 0 0 4px 0.5px rgba(34, 60, 80, 0.4);

  .stick{
    transform: translateY(-3px);
    font-weight: lighter;
  }
}