@mixin flex($flDr, $alIt,$juCont){
  display: flex;
  flex-direction: $flDr;
  align-items: $alIt;
  justify-content: $juCont;
}

@mixin text ($fw, $fs){
  font-weight: $fw;
  font-size: $fs;
}

@mixin widthHeight($w,$h){
  width: $w;
  height: $h;
}